/* components/LinearProgress/LinearProgress.module.css */
.linearProgress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    z-index: 9999;
}

.progressBar {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
}

.progressIndicator {
    height: 100%;
    background-color: #007bff;
    animation: progressAnimation 1.5s ease-in-out infinite;
}

@keyframes progressAnimation {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Темная тема */
:global(.dark) .progressBar {
    background-color: #333;
}

:global(.dark) .progressIndicator {
    background-color: #90cea1;
}